<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>acadamy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EnrollmentServlet</display-name>
    <servlet-name>EnrollmentServlet</servlet-name>
    <servlet-class>enroll.EnrollmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentServlet</servlet-name>
    <url-pattern>/EnrollmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEnrollmentServlet</display-name>
    <servlet-name>CourseEnrollmentServlet</servlet-name>
    <servlet-class>course.CourseEnrollmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollmentServlet</servlet-name>
    <url-pattern>/CourseEnrollmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseEnrollmentServelt</display-name>
    <servlet-name>CourseEnrollmentServelt</servlet-name>
    <servlet-class>course.CourseEnrollmentServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseEnrollmentServelt</servlet-name>
    <url-pattern>/CourseEnrollmentServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnrollmentServlet1</display-name>
    <servlet-name>EnrollmentServlet1</servlet-name>
    <servlet-class>enroll.EnrollmentServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnrollmentServlet1</servlet-name>
    <url-pattern>/EnrollmentServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>addcourse.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher_course_register</display-name>
    <servlet-name>Teacher_course_register</servlet-name>
    <servlet-class>courereg.Teacher_course_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher_course_register</servlet-name>
    <url-pattern>/Teacher_course_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>app</display-name>
    <servlet-name>app</servlet-name>
    <servlet-class>email.app</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>app</servlet-name>
    <url-pattern>/app</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailNotificationServlet</display-name>
    <servlet-name>EmailNotificationServlet</servlet-name>
    <servlet-class>email.EmailNotificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailNotificationServlet</servlet-name>
    <url-pattern>/EmailNotificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseRegistrationServlet</display-name>
    <servlet-name>CourseRegistrationServlet</servlet-name>
    <servlet-class>enroll.CourseRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseRegistrationServlet</servlet-name>
    <url-pattern>/CourseRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Enrollmentservlet</display-name>
    <servlet-name>Enrollmentservlet</servlet-name>
    <servlet-class>enroll.Enrollmentservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Enrollmentservlet</servlet-name>
    <url-pattern>/Enrollmentservlet</url-pattern>
  </servlet-mapping>
</web-app>